body{
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
    display: flex;
}
nav li{
    align-items: center;
    letter-spacing: 3px;
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    background-color: bisque;
    width: 100%;
}

.forms{
    list-style: none;
}

.forms input{
    border-radius: 50px;
}

footer ul{
    display: flex;
    flex-wrap: wrap;
}

footer li{
    list-style: none;
    width: 10%;
}